html
	display: table
	width: 100%
	height: 100%
	background: black
	color: white


body
	display: table-cell
	vertical-align: middle


.clock
	position: relative
	width: 80vmin
	width: 350px
	height: @width
	margin: auto
	border-radius: 50%

	$width = 1%
	$length = 5%
	$color = #CCC
	$bg = ()
	for n in 0..1
		push($bg, join(' ', 'linear-gradient(' (n*90deg) ',' $color $length ',' transparent $length ',' transparent  (100% - $length) ',' $color (100% - $length) ')'))
	push($bg, 'radial-gradient(#555, black)')
	$bgSize = join(' ', $width 100% ',' 100% $width)
	background-image: unquote(join(',', $bg))
	background-size: unquote($bgSize + ', 100%')
	background-position: 50%
	background-repeat: no-repeat

	&::before
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: inherit
		background-size: unquote($bgSize + ', 0')
	&::before
		transform: rotate(30deg)
	&::after
		transform: rotate(60deg)

.hand
	position: absolute
	border-radius: 80% 80% 50% 50% / 100% 100% 10% 10%
	box-shadow: 0 0 5px 0 black
	animation: linear infinite


$hourHand_width = 3%
.hour
	top: 20%
	width: $hourHand_width
	height: (50% - unit(@top,'') + unit(@width,'')/2)
	left: (50% - @width/2)
	transform-origin: center (50% / (unit(@top,'') + unit(@height,'')) * 100)
	background: #CCC
	animation-name: hourHand
	animation-duration: 60s*60*12


.minute
	width: 3%
	height: (50% + unit(@width,'')/2)
	left: (50% - unit(@width,'')/2)
	transform-origin: center (50% / @height * 100)
	background: #CCC
	animation-name: minuteHand
	animation-duration: 60s*60


.second
	$secondHand_width = 1%
	width: $secondHand_width
	$secondHand_height = 60%
	height: $secondHand_height
	left: (50% - unit(@width,'')/2)
	$secondHand_transform_origin = 50% / @height * 100
	transform-origin: center $secondHand_transform_origin
	background: grey
	animation-name: secondHand
	animation-duration: 60s

	&::before
		content: ''
		position: absolute
		width: (($hourHand_width / $secondHand_width + 1) * 100)%
		height: ($secondHand_width * @width / $secondHand_height)
		left: -((@width - 100) / 2)%
		top: ($secondHand_transform_origin - unit(@height,'')/2)
		border-radius: 50%
		background: inherit
		box-shadow: inherit
