.clock {
	position: relative;

	border-radius: 50%;

	$width: 1%;
	$length: 5%;
	$color: #CCC;
	$bg: ();
	@for $n from 0 through 1 {
		$bg: $bg, linear-gradient(
			($n*90deg),
			$color $length,
			transparent $length,
			transparent (100% - $length),
			$color (100% - $length)
		);
	}
	$bg: $bg, radial-gradient(transparent, black);
	$bgSize: $width 100%, 100% $width;
	background: {
		color: #555;
		image: $bg;
		size: $bgSize, 100%;
		position: 50%;
		repeat: no-repeat;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: inherit {
			color: transparent;
			size: $bgSize, 0;
		}
	}
	&::before {
		transform: rotate(30deg);
	}
	&::after {
		transform: rotate(60deg);
	}
}
.hand {
	position: absolute;
	border-radius: 80% 80% 50% 50% / 100% 100% 10% 10%;
	box-shadow: 0 0 5px 0 black;
	animation: linear infinite;
	position: absolute;

}

$hourHand_width: 3%;
.hour {
	$top: 20%;
	top: $top;
	$width: $hourHand_width;
	width: $width;
	$height: (50% - $top + $width/2);
	height: $height;
	left: (50% - $width/2);
	transform-origin: center percentage(50% / ($top + $height));
	animation: {
		name: hourHand;
		duration: (60s*60*12);
	}
	background-color: #CCC;
}

.minute {
	$width: 3%;
	width: $width;
	$height: (50% + $width/2);
	height: $height;
	left: (50% - $width/2);
	transform-origin: center percentage(50% / $height);
	animation: {
		name: minuteHand;
		duration: (60s*60);
	}
	background-color: #CCC;
}

.second {
	$secondHand_width: 1%;
	width: $secondHand_width;
	$secondHand_height: 60%;
	height: $secondHand_height;
	left: (50% - $secondHand_width/2);
	$secondHand_transform_origin: percentage(50% / $secondHand_height);
	transform-origin: center $secondHand_transform_origin;
	animation: {
		name: secondHand;
		duration: 60s;
	}
	background-color: gray;

	&::before {
		content: '';
		position: absolute;
		$width: percentage($hourHand_width / $secondHand_width + 1);
		width: $width;
		$height: ($secondHand_width * $width / $secondHand_height);
		height: $height;
		left: -(($width - 100) / 2);
		top: ($secondHand_transform_origin - $height/2);
		border-radius: 50%;
		background: inherit;
		box-shadow: inherit;
	}
}
